# **[www.ybifoundation.org](https://www.ybifoundation.org/)**

# **Create Pandas Series**

In [1]:
# import library

import pandas as pd
import numpy as np

In [2]:
# create series from list

pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
# create series from list

list = [1,2,3,4,5]
series = pd.Series(list)
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
# create series from array

array = np.array([10,20,30,40,50])
series = pd.Series(array)
series

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [5]:
# create series from dictionary

dict = {'a': 10,'b': 20, 'd': 30}
series = pd.Series(dict)
series

a    10
b    20
d    30
dtype: int64

In [6]:
# create series from range function

series =pd.Series(range(15))
series

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
dtype: int64

# **Create Pandas DataFrame**

In [7]:
# create dataframe from list

pd.DataFrame([1,2,3,4,5])

   0
0  1
1  2
2  3
3  4
4  5

In [8]:
# create dataframe from list with row and column index

pd.DataFrame([1,2,3,4,5],index=['a','b','c','d','e'],columns=['Number'])

   Number
a       1
b       2
c       3
d       4
e       5

In [9]:
# create dataframe with multiple columns

list = [['a', 25],['b', 30],['c', 26],['d', 22]]
pd.DataFrame(list,columns=['Alphabet','Number'])

  Alphabet  Number
0        a      25
1        b      30
2        c      26
3        d      22

In [10]:
# create dataframe from dictionary

dict= {'Alphabet':['a','b','c','d','e'],'Number':[1,2,3,4,5]}
pd.DataFrame(dict)

  Alphabet  Number
0        a       1
1        b       2
2        c       3
3        d       4
4        e       5

In [11]:
# create dataframe from array

array = np.array([1,2,3,4,5])
pd.DataFrame(array,columns=['Number'])

   Number
0       1
1       2
2       3
3       4
4       5

In [12]:
# create dataframe from array

array = np.array([[1,1],[2,4],[3,9],[4,16],[5,25]])
pd.DataFrame(array,columns=['Number','Square'])

   Number  Square
0       1       1
1       2       4
2       3       9
3       4      16
4       5      25

In [13]:
# create dataframe from range function

pd.DataFrame(range(5))

   0
0  0
1  1
2  2
3  3
4  4